
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color:#2B283A;
    background-color:#2B283A;
}

.app-container {
    width:600px;
    margin:10% auto 0 auto;
    background-color:white;
    padding:2rem 0rem;;
    border-radius: 2%;
}

.color-container {
    display:flex;
    justify-content: space-between;
}
.color-card {
    display:flex;
    flex-direction: column;
    align-items:center;
}

.color-area{
    height:20rem;
    width:120px;
}

form {
    display:flex;
    justify-content:space-around;
    align-items: center;
}

.color-text {
    font-size: 0.75rem;
    font-weight:700;
}
#colorInput {
    border:none;
    width:15%;
    height:3rem;
} 

#color-scheme-type {
    width: 45%;
    height:3rem;
    font-size:1rem;
}

#get-color-scheme {
    width:25%;
    height:3rem;
    
}